package 'cgminer'

config 'cgminer' 'default'
	#option  'freq'          '600:300:0b83'
	option  'freq'          '600:100:0b83'
	#option  'freq'          '600:200:0b83'
	#option  'freq'          '600:400:0b83'
	option	'pool1url'					'stratum-ltc.antpool.com:8888'
	option	'pool1user'					'antminer_1'
	option	'pool1pw'					'123'
	option	'pool2url'					'stratum-ltc.antpool.com:443'
	option	'pool2user'					'antminer_1'
	option	'pool2pw'					'123'
	option  'pool3url'					'stratum.f2pool.com:8888'
	option  'pool3user'					'ant.123'
	option	'pool3pw'					'123'
	option	'api_allow' 'W:0/0'
