package 'cgminer'

config 'cgminer' 'default'
	#option  'freq'          '0.5:300:0b83'
	#option  'freq'          '0.23:650:0b83'
	option  'freq'          '1.5:100:0b83'
	#option  'freq'          '0.37:400:0b83'
	#option  'freq'          '0.3:500:0b83'
	#option  'freq'          '0.25:600:0b83'
	option	'pooluser'	'MyAntRouter@bitmain.com'
	option	'cgctrl'	'en'
	option	'api_allow' 'W:0/0'
